# Python Task Solutions

#### Solution 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pseudo_facebook.csv')
df.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

In [3]:
X = df.drop(['likes', 'gender'], axis=1)

In [4]:
y = df['likes']

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_fit=scaler.fit(X_train)

In [7]:
X_train_scaled=scaler.transform(X_train)

In [8]:
Y_test_scaled = scaler.fit_transform(Y_test)

NameError: name 'Y_test' is not defined

#### Solution 2

In [9]:
a = [1, 2, 3, 4]
b = [3, 6, 7, 8, 9]

In [10]:
a.extend(b)

In [11]:
a

[1, 2, 3, 4, 3, 6, 7, 8, 9]

#### Solution 3

In [12]:
A = [2, 3, 4, 5, 5]
B = [10, 20, 30, 40, 50]

In [13]:
for i, j in zip(A, B):
    print(f"a:{i}, b:{j}")

a:2, b:10
a:3, b:20
a:4, b:30
a:5, b:40
a:5, b:50

#### Solution 4

In [14]:
x = [2, 4, 6, 17, 23]

In [15]:
result = 0
for i in x:
    r = i**2
    result = result + r
print(result)

874

#### Solution 5

In [16]:
import pandas as pd

data = {"year":[2019, 2022, 2020, 2014, 2013]}

df = pd.DataFrame(data)
df.head()

   year
0  2019
1  2022
2  2020
3  2014
4  2013

In [17]:
df["years_elapsed"] = df.apply(lambda row: (pd.Timestamp.utcnow().year)-(row['year']), axis=1)

In [18]:
df

   year  years_elapsed
0  2019              3
1  2022              0
2  2020              2
3  2014              8
4  2013              9

In [19]:
pd.Timestamp.utcnow().year

2022